footer{
    color: $color;
    background-color: $background-color;
    width: 100%;
    position: fixed;
    bottom: 0%;
    .parrafoFoot{
        color: white;
        text-align: center;
    }
}

@media screen and (max-width: 768px){
    .parrafoFoot{
        font-size: 1rem;
        text-align: center;
    }
}
