header{
    background-color: $background-color;
    color: $color;
    display: flex;
    justify-content: flex-end;
    .sticky{
        position: sticky;
        top: 1px;
        z-index: 10;
    }
}

/*logo del Index*/

.logoGrande{
    justify-content: center;
    .logoPrincipal{
        width: 645px;
    }    
}

@media screen and (max-width: 768px){
    header{
        padding: 15px;     
        }

}