$background-color : black;
$color : white; 
$fuente-principal : 'Oswald', sans-serif;

$map-flex:(
    wrap: wrap
    flex: flex
    space-between: space-between
    center: center
    column: column
    row: row
)